

body {

	background-color: black;
}




.key {

	background-color: hsl( 25, 3%, 15% );
	box-shadow: 
		0
		0
		calc( var( --size ) * 1 )
		hsla( 25, 50%, 0%, 0.2 )
		inset;
}
.key {

	color: hsl( 25, 3%, 60% );
	text-shadow:
		0
		0
		calc( var( --size ) * 2 )
		hsla( 25, 5%, 90%, 0.2 );
}
.key.word, .key.arrow {

	color: transparent;
	text-shadow: none;
}
.key.press,
.key:hover {

	background-color: hsl( 25, 50%, 90% );
	color: white;
	box-shadow: 
		0
		0
		calc( var( --size ) * 4 )
		hsla( 25, 50%, 90%, 0.5 );
}




#timeline {

	background-color: hsl( 0, 0%, 10% );
}
#progress {

	background-color: hsl( 0, 0%, 20% );	
}
#seeker {

	background-color: white;
}
#clock {

	color: white;
}
#return-to-start,
#play-pause {

	background-color: hsl( 0, 0%, 20% );
}
#return-to-start:hover,
#pause:hover {

	background-color: white;
	color: black;
}
#play {

	background-color: color: hsl( 25, 100%, 50% );
	animation: none;
}
#play:hover {

	color: hsl( 25, 100%, 50% );
}







.key.black {

	background: none;
	background-color: black;
}






