/*

	Copyright © 2020, Stewart Smith. See LICENSE for details.

*/




body {

	--bpm: 101;


	/*  Based on the “Eraser” album artwork colors  */
	
	--color-background:             hsl(  0,  90%,  40% );
	
	--color-key-background:         hsl(  0,   0%,   0% );
	--color-key-text:               hsl(  0,  10%,  50% );
	--color-key-text-glow:          hsla( 0,  90%,  90%, 0.1 );
	
	--color-key-press-background:   hsl(  0,  90%,  95% );
	--color-key-press-text:         hsl(  0,  90%, 100% );
	--color-key-press-glow:         hsla( 0,   0%,  90%, 0.5 );
	
	--color-key-options-background: hsl(  0,  90%,  50% );
	--color-key-options-text:       hsl(  0,  90%, 100% );








}


/*.key {

	--background-hue:        0;
	--background-saturation: 0%;
	--background-lightness:  0%;

	--text-hue:         0;
	--text-saturation: 10%;
	--text-lightness:  60%;
}
.key.press,
.key:hover {

	--background-hue:         0;
	--background-saturation: 90%;
	--background-lightness:  95%;
	
	--text-hue:          0;
	--text-saturation:  90%;
	--text-lightness:  100%;
}*/




/*  test  */

.key {

	--background-hue:          0;
	--background-saturation:  90%;
	--background-lightness:    0%;

	animation-name: key-release;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
	animation-duration: var( --beat-quarter );
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: linear;
	animation-play-state: running;

	transition: none;

	/*animation-duration: 4s;*/
}
/*.key:not(.dead).press,
.key:not(.dead):hover {
*/

.key.press,
.key:hover {

	--background-lightness: 95%;

	--text-hue: 0;
	--text-saturation: 90%;
	--text-lightness: 100%;

	animation: none;
	transition: none;

	animation-play-state: running;
}




.key.dead,
.key.dead.press,
.key.dead:hover {

	animation:  none;
	transition: none;
	color: transparent;
}
.keyboard.option .key-tick,
.keyboard.option .key-E,
.keyboard.option .key-U,
.keyboard.option .key-I,
.keyboard.option .key-N {

	/*background-color: var( --color-key-options-background );*/
	/*color: var( --color-key-options-text );*/
	animation:  none;
	transition: none;
	/*box-shadow: none;*/
}






@keyframes key-release {




	  0% { background-color: hsl(   0.000,  70.000%,   0.000% ); color: hsl(   0.000,  10.000%,  50.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.000 ); }
	  1% { background-color: hsl(   0.000,  70.200%,   0.950% ); color: hsl(   0.000,  10.800%,  50.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.005 ); }
	  2% { background-color: hsl(   0.000,  70.400%,   1.900% ); color: hsl(   0.000,  11.600%,  51.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.010 ); }
	  3% { background-color: hsl(   0.000,  70.600%,   2.850% ); color: hsl(   0.000,  12.400%,  51.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.015 ); }
	  4% { background-color: hsl(   0.000,  70.800%,   3.800% ); color: hsl(   0.000,  13.200%,  52.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.020 ); }
	  5% { background-color: hsl(   0.000,  71.000%,   4.750% ); color: hsl(   0.000,  14.000%,  52.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.025 ); }
	  6% { background-color: hsl(   0.000,  71.200%,   5.700% ); color: hsl(   0.000,  14.800%,  53.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.030 ); }
	  7% { background-color: hsl(   0.000,  71.400%,   6.650% ); color: hsl(   0.000,  15.600%,  53.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.035 ); }
	  8% { background-color: hsl(   0.000,  71.600%,   7.600% ); color: hsl(   0.000,  16.400%,  54.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.040 ); }
	  9% { background-color: hsl(   0.000,  71.800%,   8.550% ); color: hsl(   0.000,  17.200%,  54.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.045 ); }
	 10% { background-color: hsl(   0.000,  72.000%,   9.500% ); color: hsl(   0.000,  18.000%,  55.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.050 ); }
	 11% { background-color: hsl(   0.000,  72.200%,  10.450% ); color: hsl(   0.000,  18.800%,  55.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.055 ); }
	 12% { background-color: hsl(   0.000,  72.400%,  11.400% ); color: hsl(   0.000,  19.600%,  56.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.060 ); }
	 13% { background-color: hsl(   0.000,  72.600%,  12.350% ); color: hsl(   0.000,  20.400%,  56.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.065 ); }
	 14% { background-color: hsl(   0.000,  72.800%,  13.300% ); color: hsl(   0.000,  21.200%,  57.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.070 ); }
	 15% { background-color: hsl(   0.000,  73.000%,  14.250% ); color: hsl(   0.000,  22.000%,  57.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.075 ); }
	 16% { background-color: hsl(   0.000,  73.200%,  15.200% ); color: hsl(   0.000,  22.800%,  58.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.080 ); }
	 17% { background-color: hsl(   0.000,  73.400%,  16.150% ); color: hsl(   0.000,  23.600%,  58.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.085 ); }
	 18% { background-color: hsl(   0.000,  73.600%,  17.100% ); color: hsl(   0.000,  24.400%,  59.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.090 ); }
	 19% { background-color: hsl(   0.000,  73.800%,  18.050% ); color: hsl(   0.000,  25.200%,  59.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.095 ); }
	 20% { background-color: hsl(   0.000,  74.000%,  19.000% ); color: hsl(   0.000,  26.000%,  60.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.100 ); }
	 21% { background-color: hsl(   0.000,  74.200%,  19.950% ); color: hsl(   0.000,  26.800%,  60.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.105 ); }
	 22% { background-color: hsl(   0.000,  74.400%,  20.900% ); color: hsl(   0.000,  27.600%,  61.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.110 ); }
	 23% { background-color: hsl(   0.000,  74.600%,  21.850% ); color: hsl(   0.000,  28.400%,  61.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.115 ); }
	 24% { background-color: hsl(   0.000,  74.800%,  22.800% ); color: hsl(   0.000,  29.200%,  62.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.120 ); }
	 25% { background-color: hsl(   0.000,  75.000%,  23.750% ); color: hsl(   0.000,  30.000%,  62.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.125 ); }
	 26% { background-color: hsl(   0.000,  75.200%,  24.700% ); color: hsl(   0.000,  30.800%,  63.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.130 ); }
	 27% { background-color: hsl(   0.000,  75.400%,  25.650% ); color: hsl(   0.000,  31.600%,  63.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.135 ); }
	 28% { background-color: hsl(   0.000,  75.600%,  26.600% ); color: hsl(   0.000,  32.400%,  64.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.140 ); }
	 29% { background-color: hsl(   0.000,  75.800%,  27.550% ); color: hsl(   0.000,  33.200%,  64.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.145 ); }
	 30% { background-color: hsl(   0.000,  76.000%,  28.500% ); color: hsl(   0.000,  34.000%,  65.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.150 ); }
	 31% { background-color: hsl(   0.000,  76.200%,  29.450% ); color: hsl(   0.000,  34.800%,  65.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.155 ); }
	 32% { background-color: hsl(   0.000,  76.400%,  30.400% ); color: hsl(   0.000,  35.600%,  66.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.160 ); }
	 33% { background-color: hsl(   0.000,  76.600%,  31.350% ); color: hsl(   0.000,  36.400%,  66.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.165 ); }
	 34% { background-color: hsl(   0.000,  76.800%,  32.300% ); color: hsl(   0.000,  37.200%,  67.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.170 ); }
	 35% { background-color: hsl(   0.000,  77.000%,  33.250% ); color: hsl(   0.000,  38.000%,  67.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.175 ); }
	 36% { background-color: hsl(   0.000,  77.200%,  34.200% ); color: hsl(   0.000,  38.800%,  68.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.180 ); }
	 37% { background-color: hsl(   0.000,  77.400%,  35.150% ); color: hsl(   0.000,  39.600%,  68.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.185 ); }
	 38% { background-color: hsl(   0.000,  77.600%,  36.100% ); color: hsl(   0.000,  40.400%,  69.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.190 ); }
	 39% { background-color: hsl(   0.000,  77.800%,  37.050% ); color: hsl(   0.000,  41.200%,  69.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.195 ); }
	 40% { background-color: hsl(   0.000,  78.000%,  38.000% ); color: hsl(   0.000,  42.000%,  70.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.200 ); }
	 41% { background-color: hsl(   0.000,  78.200%,  38.950% ); color: hsl(   0.000,  42.800%,  70.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.205 ); }
	 42% { background-color: hsl(   0.000,  78.400%,  39.900% ); color: hsl(   0.000,  43.600%,  71.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.210 ); }
	 43% { background-color: hsl(   0.000,  78.600%,  40.850% ); color: hsl(   0.000,  44.400%,  71.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.215 ); }
	 44% { background-color: hsl(   0.000,  78.800%,  41.800% ); color: hsl(   0.000,  45.200%,  72.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.220 ); }
	 45% { background-color: hsl(   0.000,  79.000%,  42.750% ); color: hsl(   0.000,  46.000%,  72.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.225 ); }
	 46% { background-color: hsl(   0.000,  79.200%,  43.700% ); color: hsl(   0.000,  46.800%,  73.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.230 ); }
	 47% { background-color: hsl(   0.000,  79.400%,  44.650% ); color: hsl(   0.000,  47.600%,  73.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.235 ); }
	 48% { background-color: hsl(   0.000,  79.600%,  45.600% ); color: hsl(   0.000,  48.400%,  74.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.240 ); }
	 49% { background-color: hsl(   0.000,  79.800%,  46.550% ); color: hsl(   0.000,  49.200%,  74.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.245 ); }
	 50% { background-color: hsl(   0.000,  80.000%,  47.500% ); color: hsl(   0.000,  50.000%,  75.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.250 ); }
	 51% { background-color: hsl(   0.000,  80.200%,  48.450% ); color: hsl(   0.000,  50.800%,  75.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.255 ); }
	 52% { background-color: hsl(   0.000,  80.400%,  49.400% ); color: hsl(   0.000,  51.600%,  76.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.260 ); }
	 53% { background-color: hsl(   0.000,  80.600%,  50.350% ); color: hsl(   0.000,  52.400%,  76.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.265 ); }
	 54% { background-color: hsl(   0.000,  80.800%,  51.300% ); color: hsl(   0.000,  53.200%,  77.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.270 ); }
	 55% { background-color: hsl(   0.000,  81.000%,  52.250% ); color: hsl(   0.000,  54.000%,  77.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.275 ); }
	 56% { background-color: hsl(   0.000,  81.200%,  53.200% ); color: hsl(   0.000,  54.800%,  78.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.280 ); }
	 57% { background-color: hsl(   0.000,  81.400%,  54.150% ); color: hsl(   0.000,  55.600%,  78.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.285 ); }
	 58% { background-color: hsl(   0.000,  81.600%,  55.100% ); color: hsl(   0.000,  56.400%,  79.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.290 ); }
	 59% { background-color: hsl(   0.000,  81.800%,  56.050% ); color: hsl(   0.000,  57.200%,  79.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.295 ); }
	 60% { background-color: hsl(   0.000,  82.000%,  57.000% ); color: hsl(   0.000,  58.000%,  80.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.300 ); }
	 61% { background-color: hsl(   0.000,  82.200%,  57.950% ); color: hsl(   0.000,  58.800%,  80.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.305 ); }
	 62% { background-color: hsl(   0.000,  82.400%,  58.900% ); color: hsl(   0.000,  59.600%,  81.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.310 ); }
	 63% { background-color: hsl(   0.000,  82.600%,  59.850% ); color: hsl(   0.000,  60.400%,  81.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.315 ); }
	 64% { background-color: hsl(   0.000,  82.800%,  60.800% ); color: hsl(   0.000,  61.200%,  82.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.320 ); }
	 65% { background-color: hsl(   0.000,  83.000%,  61.750% ); color: hsl(   0.000,  62.000%,  82.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.325 ); }
	 66% { background-color: hsl(   0.000,  83.200%,  62.700% ); color: hsl(   0.000,  62.800%,  83.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.330 ); }
	 67% { background-color: hsl(   0.000,  83.400%,  63.650% ); color: hsl(   0.000,  63.600%,  83.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.335 ); }
	 68% { background-color: hsl(   0.000,  83.600%,  64.600% ); color: hsl(   0.000,  64.400%,  84.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.340 ); }
	 69% { background-color: hsl(   0.000,  83.800%,  65.550% ); color: hsl(   0.000,  65.200%,  84.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.345 ); }
	 70% { background-color: hsl(   0.000,  84.000%,  66.500% ); color: hsl(   0.000,  66.000%,  85.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.350 ); }
	 71% { background-color: hsl(   0.000,  84.200%,  67.450% ); color: hsl(   0.000,  66.800%,  85.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.355 ); }
	 72% { background-color: hsl(   0.000,  84.400%,  68.400% ); color: hsl(   0.000,  67.600%,  86.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.360 ); }
	 73% { background-color: hsl(   0.000,  84.600%,  69.350% ); color: hsl(   0.000,  68.400%,  86.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.365 ); }
	 74% { background-color: hsl(   0.000,  84.800%,  70.300% ); color: hsl(   0.000,  69.200%,  87.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.370 ); }
	 75% { background-color: hsl(   0.000,  85.000%,  71.250% ); color: hsl(   0.000,  70.000%,  87.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.375 ); }
	 76% { background-color: hsl(   0.000,  85.200%,  72.200% ); color: hsl(   0.000,  70.800%,  88.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.380 ); }
	 77% { background-color: hsl(   0.000,  85.400%,  73.150% ); color: hsl(   0.000,  71.600%,  88.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.385 ); }
	 78% { background-color: hsl(   0.000,  85.600%,  74.100% ); color: hsl(   0.000,  72.400%,  89.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.390 ); }
	 79% { background-color: hsl(   0.000,  85.800%,  75.050% ); color: hsl(   0.000,  73.200%,  89.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.395 ); }
	 80% { background-color: hsl(   0.000,  86.000%,  76.000% ); color: hsl(   0.000,  74.000%,  90.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.400 ); }
	 81% { background-color: hsl(   0.000,  86.200%,  76.950% ); color: hsl(   0.000,  74.800%,  90.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.405 ); }
	 82% { background-color: hsl(   0.000,  86.400%,  77.900% ); color: hsl(   0.000,  75.600%,  91.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.410 ); }
	 83% { background-color: hsl(   0.000,  86.600%,  78.850% ); color: hsl(   0.000,  76.400%,  91.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.415 ); }
	 84% { background-color: hsl(   0.000,  86.800%,  79.800% ); color: hsl(   0.000,  77.200%,  92.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.420 ); }
	 85% { background-color: hsl(   0.000,  87.000%,  80.750% ); color: hsl(   0.000,  78.000%,  92.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.425 ); }
	 86% { background-color: hsl(   0.000,  87.200%,  81.700% ); color: hsl(   0.000,  78.800%,  93.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.430 ); }
	 87% { background-color: hsl(   0.000,  87.400%,  82.650% ); color: hsl(   0.000,  79.600%,  93.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.435 ); }
	 88% { background-color: hsl(   0.000,  87.600%,  83.600% ); color: hsl(   0.000,  80.400%,  94.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.440 ); }
	 89% { background-color: hsl(   0.000,  87.800%,  84.550% ); color: hsl(   0.000,  81.200%,  94.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.445 ); }
	 90% { background-color: hsl(   0.000,  88.000%,  85.500% ); color: hsl(   0.000,  82.000%,  95.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.450 ); }
	 91% { background-color: hsl(   0.000,  88.200%,  86.450% ); color: hsl(   0.000,  82.800%,  95.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.455 ); }
	 92% { background-color: hsl(   0.000,  88.400%,  87.400% ); color: hsl(   0.000,  83.600%,  96.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.460 ); }
	 93% { background-color: hsl(   0.000,  88.600%,  88.350% ); color: hsl(   0.000,  84.400%,  96.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.465 ); }
	 94% { background-color: hsl(   0.000,  88.800%,  89.300% ); color: hsl(   0.000,  85.200%,  97.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.470 ); }
	 95% { background-color: hsl(   0.000,  89.000%,  90.250% ); color: hsl(   0.000,  86.000%,  97.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.475 ); }
	 96% { background-color: hsl(   0.000,  89.200%,  91.200% ); color: hsl(   0.000,  86.800%,  98.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.480 ); }
	 97% { background-color: hsl(   0.000,  89.400%,  92.150% ); color: hsl(   0.000,  87.600%,  98.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.485 ); }
	 98% { background-color: hsl(   0.000,  89.600%,  93.100% ); color: hsl(   0.000,  88.400%,  99.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.490 ); }
	 99% { background-color: hsl(   0.000,  89.800%,  94.050% ); color: hsl(   0.000,  89.200%,  99.500% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.495 ); }
	100% { background-color: hsl(   0.000,  90.000%,  95.000% ); color: hsl(   0.000,  90.000%, 100.000% ); box-shadow: 0 0 calc( var( --size ) * 4 ) hsla(   0.000,  90.000%,  90.000%,   0.500 ); }




}










    /****************/
   /*              */
  /*   Controls   */
 /*              */
/****************/


#timeline {

	background-color: hsl( 0, 90%, 35% );
}
#progress,
#controls .button {

	background-color: hsl( 0, 90%, 30% );
	color: hsl( 0, 70%, 50% );
}
#controls .button use {

	fill: hsl( 0, 70%, 50% );
}
#controls .button:hover {

	background-color: hsl( 0, 90%, 25% );
	color: hsl( 0, 70%, 70% );
}
#controls .button:hover use {

	fill: hsl( 0, 70%, 70% );
}


#progress-head {

	background-color: hsl( 0, 70%, 70% );
}
#progress-clock {

	color: hsl( 0, 70%, 70% );
}
#seeker-head {

	background-color: white;
}
#seeker-clock {

	color: white;
}


#button-play {

	/*color: black;*/
	background-color: inherit;
}
#controls #button-play use {

	/*fill: black;*/
	/*animation-name: pulse;*/
}
#button-play:hover {

	/*color: var( --color-background );*/
}
@keyframes pulse {

	  0% { fill: hsl(   0.000,  70.000%,  50.000% ); }
	  1% { fill: hsl(   0.000,  70.200%,  50.450% ); }
	  2% { fill: hsl(   0.000,  70.400%,  50.900% ); }
	  3% { fill: hsl(   0.000,  70.600%,  51.350% ); }
	  4% { fill: hsl(   0.000,  70.800%,  51.800% ); }
	  5% { fill: hsl(   0.000,  71.000%,  52.250% ); }
	  6% { fill: hsl(   0.000,  71.200%,  52.700% ); }
	  7% { fill: hsl(   0.000,  71.400%,  53.150% ); }
	  8% { fill: hsl(   0.000,  71.600%,  53.600% ); }
	  9% { fill: hsl(   0.000,  71.800%,  54.050% ); }
	 10% { fill: hsl(   0.000,  72.000%,  54.500% ); }
	 11% { fill: hsl(   0.000,  72.200%,  54.950% ); }
	 12% { fill: hsl(   0.000,  72.400%,  55.400% ); }
	 13% { fill: hsl(   0.000,  72.600%,  55.850% ); }
	 14% { fill: hsl(   0.000,  72.800%,  56.300% ); }
	 15% { fill: hsl(   0.000,  73.000%,  56.750% ); }
	 16% { fill: hsl(   0.000,  73.200%,  57.200% ); }
	 17% { fill: hsl(   0.000,  73.400%,  57.650% ); }
	 18% { fill: hsl(   0.000,  73.600%,  58.100% ); }
	 19% { fill: hsl(   0.000,  73.800%,  58.550% ); }
	 20% { fill: hsl(   0.000,  74.000%,  59.000% ); }
	 21% { fill: hsl(   0.000,  74.200%,  59.450% ); }
	 22% { fill: hsl(   0.000,  74.400%,  59.900% ); }
	 23% { fill: hsl(   0.000,  74.600%,  60.350% ); }
	 24% { fill: hsl(   0.000,  74.800%,  60.800% ); }
	 25% { fill: hsl(   0.000,  75.000%,  61.250% ); }
	 26% { fill: hsl(   0.000,  75.200%,  61.700% ); }
	 27% { fill: hsl(   0.000,  75.400%,  62.150% ); }
	 28% { fill: hsl(   0.000,  75.600%,  62.600% ); }
	 29% { fill: hsl(   0.000,  75.800%,  63.050% ); }
	 30% { fill: hsl(   0.000,  76.000%,  63.500% ); }
	 31% { fill: hsl(   0.000,  76.200%,  63.950% ); }
	 32% { fill: hsl(   0.000,  76.400%,  64.400% ); }
	 33% { fill: hsl(   0.000,  76.600%,  64.850% ); }
	 34% { fill: hsl(   0.000,  76.800%,  65.300% ); }
	 35% { fill: hsl(   0.000,  77.000%,  65.750% ); }
	 36% { fill: hsl(   0.000,  77.200%,  66.200% ); }
	 37% { fill: hsl(   0.000,  77.400%,  66.650% ); }
	 38% { fill: hsl(   0.000,  77.600%,  67.100% ); }
	 39% { fill: hsl(   0.000,  77.800%,  67.550% ); }
	 40% { fill: hsl(   0.000,  78.000%,  68.000% ); }
	 41% { fill: hsl(   0.000,  78.200%,  68.450% ); }
	 42% { fill: hsl(   0.000,  78.400%,  68.900% ); }
	 43% { fill: hsl(   0.000,  78.600%,  69.350% ); }
	 44% { fill: hsl(   0.000,  78.800%,  69.800% ); }
	 45% { fill: hsl(   0.000,  79.000%,  70.250% ); }
	 46% { fill: hsl(   0.000,  79.200%,  70.700% ); }
	 47% { fill: hsl(   0.000,  79.400%,  71.150% ); }
	 48% { fill: hsl(   0.000,  79.600%,  71.600% ); }
	 49% { fill: hsl(   0.000,  79.800%,  72.050% ); }
	 50% { fill: hsl(   0.000,  80.000%,  72.500% ); }
	 51% { fill: hsl(   0.000,  80.200%,  72.950% ); }
	 52% { fill: hsl(   0.000,  80.400%,  73.400% ); }
	 53% { fill: hsl(   0.000,  80.600%,  73.850% ); }
	 54% { fill: hsl(   0.000,  80.800%,  74.300% ); }
	 55% { fill: hsl(   0.000,  81.000%,  74.750% ); }
	 56% { fill: hsl(   0.000,  81.200%,  75.200% ); }
	 57% { fill: hsl(   0.000,  81.400%,  75.650% ); }
	 58% { fill: hsl(   0.000,  81.600%,  76.100% ); }
	 59% { fill: hsl(   0.000,  81.800%,  76.550% ); }
	 60% { fill: hsl(   0.000,  82.000%,  77.000% ); }
	 61% { fill: hsl(   0.000,  82.200%,  77.450% ); }
	 62% { fill: hsl(   0.000,  82.400%,  77.900% ); }
	 63% { fill: hsl(   0.000,  82.600%,  78.350% ); }
	 64% { fill: hsl(   0.000,  82.800%,  78.800% ); }
	 65% { fill: hsl(   0.000,  83.000%,  79.250% ); }
	 66% { fill: hsl(   0.000,  83.200%,  79.700% ); }
	 67% { fill: hsl(   0.000,  83.400%,  80.150% ); }
	 68% { fill: hsl(   0.000,  83.600%,  80.600% ); }
	 69% { fill: hsl(   0.000,  83.800%,  81.050% ); }
	 70% { fill: hsl(   0.000,  84.000%,  81.500% ); }
	 71% { fill: hsl(   0.000,  84.200%,  81.950% ); }
	 72% { fill: hsl(   0.000,  84.400%,  82.400% ); }
	 73% { fill: hsl(   0.000,  84.600%,  82.850% ); }
	 74% { fill: hsl(   0.000,  84.800%,  83.300% ); }
	 75% { fill: hsl(   0.000,  85.000%,  83.750% ); }
	 76% { fill: hsl(   0.000,  85.200%,  84.200% ); }
	 77% { fill: hsl(   0.000,  85.400%,  84.650% ); }
	 78% { fill: hsl(   0.000,  85.600%,  85.100% ); }
	 79% { fill: hsl(   0.000,  85.800%,  85.550% ); }
	 80% { fill: hsl(   0.000,  86.000%,  86.000% ); }
	 81% { fill: hsl(   0.000,  86.200%,  86.450% ); }
	 82% { fill: hsl(   0.000,  86.400%,  86.900% ); }
	 83% { fill: hsl(   0.000,  86.600%,  87.350% ); }
	 84% { fill: hsl(   0.000,  86.800%,  87.800% ); }
	 85% { fill: hsl(   0.000,  87.000%,  88.250% ); }
	 86% { fill: hsl(   0.000,  87.200%,  88.700% ); }
	 87% { fill: hsl(   0.000,  87.400%,  89.150% ); }
	 88% { fill: hsl(   0.000,  87.600%,  89.600% ); }
	 89% { fill: hsl(   0.000,  87.800%,  90.050% ); }
	 90% { fill: hsl(   0.000,  88.000%,  90.500% ); }
	 91% { fill: hsl(   0.000,  88.200%,  90.950% ); }
	 92% { fill: hsl(   0.000,  88.400%,  91.400% ); }
	 93% { fill: hsl(   0.000,  88.600%,  91.850% ); }
	 94% { fill: hsl(   0.000,  88.800%,  92.300% ); }
	 95% { fill: hsl(   0.000,  89.000%,  92.750% ); }
	 96% { fill: hsl(   0.000,  89.200%,  93.200% ); }
	 97% { fill: hsl(   0.000,  89.400%,  93.650% ); }
	 98% { fill: hsl(   0.000,  89.600%,  94.100% ); }
	 99% { fill: hsl(   0.000,  89.800%,  94.550% ); }
	100% { fill: hsl(   0.000,  90.000%,  95.000% ); }
}











    /***************/
   /*             */
  /*   Customs   */
 /*             */
/***************/


.keyboard {

	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}




.key.dead,
.key.dead.press,
.key.dead:hover {

	color: transparent;
	text-shadow: none;
}




.key-period.press,
.key-period:hover {

	background-color: hsl( 0, 100%, 100% );
	box-shadow: 
		0
		0
		calc( var( --size ) * 6 )
		hsl( 0, 100%, 100% );
}




.keyboard.push-out .key,
.keyboard.push-in .key {

	transition: 
		background-color var( --beat-half ) linear,
		text-shadow var( --beat-half ) linear,
		transform var( --beat ) ease-out;
	animation-duration: var( --beat-half );
}
.keyboard.push-out .key.press,
.keyboard.push-out .key:hover {
	
	transform: translateZ( 80px ) !important;
	transition: none;
}
.keyboard.push-in .key.press,
.keyboard.push-in .key:hover {
	
	transform: translateZ( -90px ) !important;
	transition: none;
}




.keyboard.long-sustain .key {

	transition: 
		background-color var( --beat ) ease-in,
		transform var( --beat-eighth ) ease-out;
	animation-duration: var( --beat );
}
.keyboard.long-sustain .key.press,
.keyboard.long-sustain .key:hover {

	transition: none;
}




.key.black {

	background: none;
	background-color: black;
	/*color: transparent;*/
}
.key.invisible {

	color: transparent;
	transition: none;
}




.keyboard.surf-rider {

	transform: 
		translate3d( 0, 0, 100px )
		rotate3d( 0, 0, -1, 80deg ) 
		rotate3d( 0, 1,  0, 60deg );
}




.keyboard.crazy .key {

/*	box-shadow: 
		0
		0
		calc( var( --size ) * 2 )
		hsla( 25, 0%, 0%, 0.5 );*/
	transition: none;
	transform: 
		translate3d( 
		
			var( --tx ),
			var( --ty ),
			var( --tz )
		)
		rotate3d( 

			var( --rx ),
			var( --ry ),
			var( --rz ),
			180deg
		) !important;
}
.keyboard.crazy .key.press
.keyboard.crazy .key:hover {


}








