/*

	Copyright © 2020, Stewart Smith. See LICENSE for details.

*/




body {

	--bpm: 101;


	/*  Based on the “Eraser” album artwork colors  */
	
	--color-background:             hsl(  0,  90%,  40% );
	--color-key-background:         hsl(  0,   0%,   0% );
	--color-key-text:               hsl(  0,  20%,  50% );
	--color-key-text-glow:          hsla( 0,  90%,  90%, 0.1 );
	--color-key-press-background:   hsl(  0,  90%,  95% );
	--color-key-press-text:         hsl(  0,  90%, 100% );
	--color-key-press-glow:         hsla( 0,   0%,  90%, 0.5 );
	--color-key-options-background: hsl(  0,  90%,  50% );
	--color-key-options-text:       hsl(  0,  90%, 100% );
}




#timeline {

	background-color: hsl( 0, 90%, 35% );
}
#progress,
#controls .button {

	background-color: hsl( 0, 90%, 30% );
	color: hsl( 0, 70%, 70% );
}
#controls .button:hover {

	background-color: hsl( 0, 90%, 20% );
	color: hsl( 0, 70%, 70% );
}




#progress-head {

	background-color: hsl( 0, 70%, 70% );
}
#progress-clock {

	color: hsl( 0, 70%, 70% );
}
#seeker-head {

	background-color: white;
}
#seeker-clock {

	color: white;
}




#play {

	color: black;
}
#play:hover {

	color: var( --color-background );
}
@keyframes pulse {

	0%, 10% { 

		background-color: hsl( 0, 90%, 100% );
		/*box-shadow: 0 0 calc( var( --size ) * 4 ) hsla( 0, 100%, 100%, 0.5 );*/
	}
	90%, 100% { 

		background-color: hsl( 0, 90%, 30% );
		/*box-shadow: 0 0 calc( var( --size ) * 4 ) hsla( 0, 100%, 95%, 0.2 );*/
	}
}








.keyboard {

	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}




.key.dead,
.key.dead.press,
.key.dead:hover {

	color: transparent;
	text-shadow: none;
}




.key-period.press,
.key-period:hover {

	background-color: hsl( 0, 100%, 100% );
	box-shadow: 
		0
		0
		calc( var( --size ) * 6 )
		hsl( 0, 100%, 100% );
}




.keyboard.push-out .key {

	transition: 
		background-color var( --beat-half ) linear,
		text-shadow var( --beat-half ) linear,
		transform var( --beat ) ease-out;
}
.keyboard.push-out .key.press,
.keyboard.push-out .key:hover {
	
	transform: translateZ( 60px ) !important;
	transition: none;
}




.keyboard.long-sustain .key {

	transition: 
		background-color var( --beat ) ease-in,
		transform var( --beat-eighth ) ease-out;
}
.keyboard.long-sustain .key.press,
.keyboard.long-sustain .key:hover {

	transition: none;
}




.key.black {

	background: none;
	background-color: black;
	/*color: transparent;*/
}
.key.invisible {

	color: transparent;
	transition: none;
}




.keyboard.surf-rider {

	transform: 
		translate3d( 0, 0, 100px )
		rotate3d( 0, 0, -1, 80deg ) 
		rotate3d( 0, 1,  0, 60deg );
}




.keyboard.crazy .key {

/*	box-shadow: 
		0
		0
		calc( var( --size ) * 2 )
		hsla( 25, 0%, 0%, 0.5 );*/
	transition: none;
	transform: 
		translate3d( 
		
			var( --tx ),
			var( --ty ),
			var( --tz )
		)
		rotate3d( 

			var( --rx ),
			var( --ry ),
			var( --rz ),
			180deg
		) !important;
}
.keyboard.crazy .key.press
.keyboard.crazy .key:hover {


}








