/*

	Copyright © 2020, Stewart Smith. See LICENSE for details.

*/


.black {

	background: linear-gradient(

		0.45turn,
		
		hsl( 0, 0%, 10% ),
		hsl( 0, 0%, 30% )
	);
	color: transparent;
	transition: none;
}
.invisible {

	color: transparent;
	transition: none;
}






body {

	perspective: 600px;
}
.keyboard {

	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transform-style: preserve-3d;
}
.keyboard.wtf {

	transform: rotate3d( 1, 1, 1, 45deg ) scale( 1.2 );
}
.key-W.wtf {

	transform: perspective( 600px ) translate3d( 0, 20px, 60px );
}
.key-T.wtf {

	transform: perspective( 600px ) translate3d( 0, 20px, 60px );
}
.key-F.wtf {

	transform: perspective( 600px ) translate3d( 0, 20px, 60px );
	/*transform: perspective( 600px ) translate3d( 0, 20px, 100px ) rotate3d( 0, 0, 1, 45deg );*/
}





