/*

	Copyright © 2020, Stewart Smith. See LICENSE for details.

*/
@charset "utf-8";
/*


	Mobile devices in portrait orientation sorted by
	  CSS Viewport Width descending, 
	  Pixel Ratio descending, 
	  Release Date descending.


	Device         Released     Viewport     Rat   Pixels         PPI
	─────────────────────────────────────────────────────────────────
	iPhone XS Max  2018 Sep     414 × 896    3     1242 × 2688    458
	iPhone XR      2018 Oct     414 × 896    2      828 × 1792    326
	iPhone 8+      2017 Sep     414 × 736    3~    1080 × 1920    401
	iPhone 7+      2016 Sep     414 × 736    3~    1080 × 1920    401
	iPhone 6s+     2015 Sep     414 × 736    3~    1080 × 1920    401
	iPhone 6+      2014 Sep     414 × 736    3~    1080 × 1920    401
	Pixel 3 XL     2018 Oct     412 × 847    4~    1440 × 2960    523
	Pixel 3        2018 Oct     412 × 824    3~    1080 × 2160    443
	Pixel 2 XL     2017 Oct     412 × 732    4~    1440 × 2880    538
	Pixel 1 XL     2016 Oct     412 × 732    4~    1440 × 2560    534
	Pixel 2        2017 Oct     412 × 732    3~    1080 × 1920    441
	Pixel 1        2016 Oct     412 × 732    3~    1080 × 1920    441
	iPhone Xs      2018 Sep     375 × 812    3     1125 × 2436    458
	iPhone X       2017 Nov     375 × 812    3     1125 × 2436    458
	iPhone 8       2017 Sep     375 × 667    2      750 × 1334    326
	iPhone 7       2016 Sep     375 × 667    2      750 × 1334    326
	iPhone 6s      2015 Sep     375 × 667    2      750 × 1334    326
	iPhone 6       2014 Sep     375 × 667    2      750 × 1334    326
	iPhone SE      2016 Mar     320 × 568    2      640 × 1136    326


	https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
	https://mediag.com/blog/popular-screen-resolutions-designing-for-all/




*/










@media screen and ( max-device-width: 480px ){

	body {

		-webkit-text-size-adjust: 100%;
	}
}


body {
	
	--size: 8px;
}
@media all and ( min-aspect-ratio: 7/3 ){

	body { --size: 0.8vh; }
}
@media all and ( max-aspect-ratio: 7/3 ){

	body { --size: 0.8vw; }
}





* {

	box-sizing: border-box;
	margin:  0;
	border:  0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
}
::-moz-selection {

	background: var( --Q-selection-background-color );
	color: var( --Q-selection-color );
}
::selection {

	background: var( --Q-selection-background-color );
	color: var( --Q-selection-color );
}




html, body, main {

	width:  100%;
	height: 100%;
}
html {

	font-size: 16px;
}
body {

	margin: 0;
	background-color: hsl( 220, 7%, 85% );
	padding: 0;
	color: hsl( 220, 7%, 40% );
	font-weight: 400;
	font-family: 'SF Pro Text', system-ui, -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	hanging-punctuation: first;
	perspective: 600px;
	overflow: hidden;
}
img {

	max-width: 100%;
	height: auto;
}




    /******************/
   /*                */
  /*   Hyperlinks   */
 /*                */
/******************/


a {

	color: var( --Q-hyperlink-internal-color );
	text-decoration: none;
	transition: 
		background-color 0.2s,
		color 0.2s,
		text-decoration-color 0.2s;
}
a.url-break {

	word-break: break-all;
}
a svg {

	fill: var( --Q-hyperlink-internal-color );
}
a:hover {

	background-color: var( --Q-hyperlink-internal-color );
	color: #FFF;
	transition: 
		background-color 0s,
		color 0s,
		text-decoration-color 0s;
}
a:hover svg {

	fill: #FFF;
}
a[ target=_blank ]{

	color: var( --Q-hyperlink-external-color );
	text-decoration-line: underline;
	text-decoration-color: #CCC;
	/*text-underline-offset: 10px;*/
}
a[ target=_blank ] svg {

	fill: var( --Q-hyperlink-external-color );
}
a[ target=_blank ]:hover {

	background-color: var( --Q-hyperlink-external-color );
	text-decoration-color: rgba( 0, 0, 0, 0 );
	color: #FFF;
}
a[ target=_blank ]:hover svg {

	fill: #FFF;	
}
/*a[target=_blank]:after {

	content:  " \2197 ";
}*/




main {

	position: relative;
	text-align: center;
}




    /****************/
   /*              */
  /*   Keyboard   */
 /*              */
/****************/


.keyboard {
	
	position: absolute;
	top:    0;
	left:   0;
	right:  0;
	bottom: calc( var( --size ) * 6 );
	margin: auto;

	width:  calc( var( --size ) * 106 );
	height: calc( var( --size ) *  44 );

	border-radius: calc( var( --size ) * 1 );
	padding: calc( var( --size ) * 4 ) 0;
	
	font-size: 0;
	transform-style: preserve-3d;
}
.keyboard .shift,
.keyboard .option,
.keyboard .shift-option {

	display: none;
}
.keyboard .default {

	display: block;
}




.keyboard.shift .default,
.keyboard.shift .option,
.keyboard.shift .shift-option {

	display: none;
}
.keyboard.shift .shift {

	display: block;
}




.keyboard.option .default,
.keyboard.option .shift,
.keyboard.option .shift-option {

	display: none;
}
.keyboard.option .option {

	display: block;
}




.keyboard.shift.option .default,
.keyboard.shift.option .shift,
.keyboard.shift.option .option {

	display: none;
}
.keyboard.shift.option .shift-option {

	display: block;
}




.keyboard.caps-lock .shift,
.keyboard.caps-lock .option,
.keyboard.caps-lock .shift-option {

	display: none;
}
.keyboard.caps-lock .default {

	display: block;
}
.keyboard.caps-lock .letter .default {

	display: none;
}
.keyboard.caps-lock .letter .shift {

	display: block;
}











.row {

	position: relative;
}
.key {

	display: inline-block;
	position: relative;
	vertical-align: bottom;
	margin: calc( var( --size ) * 0.4 );
	width:  calc( var( --size ) * 6 );
	height: calc( var( --size ) * 6 );
	border-radius: calc( var( --size ) * 0.5 );
	background: white;
	padding: 0 calc( var( --size ) * 1 );
	text-align: center;
	font-size:   calc( var( --size ) * 2 );
	line-height: calc( var( --size ) * 5.8 );
	color: hsl( 0, 0%, 50% );
	color: hsl( 220, 7%, 55% );
	overflow: hidden;
	cursor: pointer;

	transition: all 0.25s ease-out;
}





.key.word {

	font-size:   calc( var( --size ) * 1 );
	line-height: calc( var( --size ) * 9 );
}
.key.left {

	text-align: left;
}
.key.right {

	text-align: right;
}








.key-delete,
.key-tab {

	width: calc( var( --size ) * 10 );
}
.key-caps-lock {

	width: calc( var( --size ) * 10.797 );
}
.key-return {

	width: calc( var( --size ) * 12 );
}
.key-shift-left,
.key-shift-right {

	width: calc( var( --size ) * 14.797 );
}
.key-space {

	width: calc( var( --size ) * 33.189 );
}
.key-command-left,
.key-command-right {

	width: calc( var( --size ) * 8 );	
}



.arrow-up-down-container {

	position: relative;
	display: inline-block;
}
.key-arrow-up, 
.key-arrow-down {

	display: block;
}
.key-arrow-up {

	margin-bottom: 0;
	border-bottom-left-radius:  0;
	border-bottom-right-radius: 0;
}
.key-arrow-down {

	margin-top: 0;
	border-top-left-radius:  0;
	border-top-right-radius: 0;
}
.arrow {

	height:      calc( var( --size ) * 3.0 );
	font-size:   calc( var( --size ) * 1.5 );
	line-height: calc( var( --size ) * 2.8 );
}






.caps-lock-indicator {

	display: none;
	position: absolute;
	top:    calc( var( --size ) * 1 );
	left:   calc( var( --size ) * 1 );
	width:  calc( var( --size ) * 0.5 );
	height: calc( var( --size ) * 0.5 );
	border-radius: 100%;
	background-color: hsl( 120, 100%, 50% );
	overflow: hidden;
}
.keyboard.caps-lock .caps-lock-indicator {

	display: block;
}




/*.keyboard.shift .key-shift,*/
/*.keyboard.option .key-option,*/
.key.press,
.key:hover {

	position: relative;
	top:  calc( var( --size ) * 0.1 );
	left: calc( var( --size ) * 0.1 );
	/*transform: translate( 

		calc( var( --size ) * 0.2 ),
		calc( var( --size ) * 0.2 )
	);*/
	/*background: linear-gradient(

		0.45turn,
		
		hsl( 0, 0%, 50% ),
		hsl( 0, 0%, 60% )
	);*/
	background-color: hsl( 0, 0%, 50% );
	color: white;
	box-shadow: none;

	transition: none;
}




.keyboard.option .key-tick,
.keyboard.option .key-E,
.keyboard.option .key-U,
.keyboard.option .key-I,
.keyboard.option .key-N {

/*	background: linear-gradient(

		0.45turn,
		
		hsl( 25, 100%, 50% ),
		hsl( 25, 100%, 55% )
	);*/
	background-color: hsl( 25, 100%, 50% );
	color: white;
	transition: none;
	box-shadow:b
		0
		0
		calc( var( --size ) * 4 )
		hsla( 25, 100%, 90%, 0.5 );
}
.option {

	background-color: 
}







.word, .arrow {
	
	color: transparent;
}
.word:hover, .arrow:hover,
.word.press, .arrow.press {
	
	color: transparent;
}











    /****************/
   /*              */
  /*   Controls   */
 /*              */
/****************/


#controls-activator, 
#controls {

	--size: 8px;
	position: fixed;
	right:  0;
	bottom: 0;
	left:   0;
	text-align: center;
}
#controls-activator {

	height: calc( var( --size ) * 8 );
}
#controls {

	display: grid;
	grid-template-columns: 
		calc( var( --size ) * 8 ) 
		calc( var( --size ) * 8 )
		auto
		calc( var( --size ) * 8 );
	grid-template-rows: calc( var( --size ) * 8 );
	height: calc( var( --size ) * 8 );
	transition: bottom 0.25s ease-in-out;
}
#controls > div {

	grid-row: 1 / 2;
}
#fullscreen-container:fullscreen #controls-activator {

	height: calc( var( --size ) * 12 );
}
#fullscreen-container:fullscreen #controls {

	bottom: calc( var( --size ) * -8 );
}
#fullscreen-container:fullscreen #controls.show {

	bottom: 0;
}




#controls .button {

	display: block;
	width:  100%;
	height: 100%;
	cursor: pointer;
	background-color: hsl( 25, 5%, 15% );
	color: hsl( 25, 10%, 50% );
	line-height: calc( var( --size ) * 7.9 );
}
#controls .button:hover {

	background-color: hsl( 25, 10%, 70% );
	color: hsl( 25, 10%, 90% );
}
#play-pause {

	grid-column: 1 / 2;
}
#play-pause > div {

	width:  100%;
	height: 100%;
}
	#play {

		display: block;
		background-color: hsl( 25, 100%, 50% );
		color: white;
		animation-duration: 1.188118811881188s;
		animation-duration: var( --beat );
		animation-name: pulse;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}
	#play:hover {

		background-color: white;
		color: hsl( 25, 100%, 50% );
		animation: none;
	}
	#pause {

		display: none;
	}
	#play-pause.playing #play {

		display: none;
	}
	#play-pause.playing #pause {

		display: block;
	}
	@keyframes pulse {

		from { background-color: hsl( 25, 100%, 50% ); }
		to   { background-color: hsl( 25, 100%, 40% ); }
	}
#return-to-start {

	grid-column: 2 / 3;
}
#toggle-fullscreen {

	grid-column: 4 / 5;
}




#timeline {

	position: relative;
	grid-column: 3 / 4;
	width:   100%;
	height: 100%;
	cursor: ew-resize;
	background-color: hsl( 25, 5%, 10% );
}
#progress,
#progress-head,
#seeker-head {

	position: absolute;
	height: 100%;
}
#progress {

	background-color: hsl( 25, 5%, 15% );
}
#progress-head,
#seeker-head {

	top:  0;
	width: 1px;
}
#progress-head {

	right: 0;
	background-color: hsl( 25, 10%, 50% );
}
#seeker-head {

	left: 0;
	background-color: hsl( 25, 100%, 50% );
}
#progress-clock,
#seeker-clock {

	position: absolute;
	transform: translate( -50%, -150% );
}
#progress-clock {

	color: hsl( 25, 10%, 50% );
}
#seeker-clock {

	color: hsl( 25, 100%, 50% );
}
#progress-head,
#progress-clock,
#seeker-head,
#seeker-clock {

	opacity: 0;
	transition: opacity 0.5s;
}
#timeline:hover #progress-head,
#timeline:hover #progress-clock,
#timeline:hover #seeker-head,
#timeline:hover #seeker-clock {

	opacity: 1;
}







