/*

	Copyright © 2019–2020, Stewart Smith. See LICENSE for details.

*/
@charset "utf-8";
/*


	Mobile devices in portrait orientation sorted by
	  CSS Viewport Width descending, 
	  Pixel Ratio descending, 
	  Release Date descending.


	Device         Released     Viewport     Rat   Pixels         PPI
	─────────────────────────────────────────────────────────────────
	iPhone XS Max  2018 Sep     414 × 896    3     1242 × 2688    458
	iPhone XR      2018 Oct     414 × 896    2      828 × 1792    326
	iPhone 8+      2017 Sep     414 × 736    3~    1080 × 1920    401
	iPhone 7+      2016 Sep     414 × 736    3~    1080 × 1920    401
	iPhone 6s+     2015 Sep     414 × 736    3~    1080 × 1920    401
	iPhone 6+      2014 Sep     414 × 736    3~    1080 × 1920    401
	Pixel 3 XL     2018 Oct     412 × 847    4~    1440 × 2960    523
	Pixel 3        2018 Oct     412 × 824    3~    1080 × 2160    443
	Pixel 2 XL     2017 Oct     412 × 732    4~    1440 × 2880    538
	Pixel 1 XL     2016 Oct     412 × 732    4~    1440 × 2560    534
	Pixel 2        2017 Oct     412 × 732    3~    1080 × 1920    441
	Pixel 1        2016 Oct     412 × 732    3~    1080 × 1920    441
	iPhone Xs      2018 Sep     375 × 812    3     1125 × 2436    458
	iPhone X       2017 Nov     375 × 812    3     1125 × 2436    458
	iPhone 8       2017 Sep     375 × 667    2      750 × 1334    326
	iPhone 7       2016 Sep     375 × 667    2      750 × 1334    326
	iPhone 6s      2015 Sep     375 × 667    2      750 × 1334    326
	iPhone 6       2014 Sep     375 × 667    2      750 × 1334    326
	iPhone SE      2016 Mar     320 × 568    2      640 × 1136    326


	https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
	https://mediag.com/blog/popular-screen-resolutions-designing-for-all/




*/










@media screen and ( max-device-width: 480px ){

	body {

		-webkit-text-size-adjust: 100%;
	}
}
* {

	box-sizing: border-box;
	margin:  0;
	border:  0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
}
::-moz-selection {

	background: var( --Q-selection-background-color );
	color: var( --Q-selection-color );
}
::selection {

	background: var( --Q-selection-background-color );
	color: var( --Q-selection-color );
}




html, body {

	width:  100%;
	height: 100%;
}
html {

	font-size: 16px;
}
body {

	margin: 0;
	background-color: hsl( 0, 0%, 90% );
	background-color: hsl( 220, 7%, 90% );
	padding: 0;
	color: black;
	font-weight: 400;
	font-family: 'SF Pro Text', system-ui, -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	hanging-punctuation: first;
	perspective: 600px;
	overflow: hidden;
}
img {

	max-width: 100%;
	height: auto;
}




    /******************/
   /*                */
  /*   Hyperlinks   */
 /*                */
/******************/


a {

	color: var( --Q-hyperlink-internal-color );
	text-decoration: none;
	transition: 
		background-color 0.2s,
		color 0.2s,
		text-decoration-color 0.2s;
}
a.url-break {

	word-break: break-all;
}
a svg {

	fill: var( --Q-hyperlink-internal-color );
}
a:hover {

	background-color: var( --Q-hyperlink-internal-color );
	color: #FFF;
	transition: 
		background-color 0s,
		color 0s,
		text-decoration-color 0s;
}
a:hover svg {

	fill: #FFF;
}
a[ target=_blank ]{

	color: var( --Q-hyperlink-external-color );
	text-decoration-line: underline;
	text-decoration-color: #CCC;
	/*text-underline-offset: 10px;*/
}
a[ target=_blank ] svg {

	fill: var( --Q-hyperlink-external-color );
}
a[ target=_blank ]:hover {

	background-color: var( --Q-hyperlink-external-color );
	text-decoration-color: rgba( 0, 0, 0, 0 );
	color: #FFF;
}
a[ target=_blank ]:hover svg {

	fill: #FFF;	
}
/*a[target=_blank]:after {

	content:  " \2197 ";
}*/




.section-anchor {
	
	display: block;
	position: absolute;
	top:    1.0rem;
	right: -0.8rem;
	width:  1.6rem;
	height: 1.6rem;
	border-radius: 100%;
	background-color: hsl( 

		var( --Q-color-base-hue ),
		10%,
		85%
	);
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 400;
	text-align: center;
	overflow: hidden;
}
li .section-anchor {

	top:   -0.4rem;
	right: -0.4rem;
	width:  0.8rem;
	height: 0.8rem;
	border-top: 1px solid hsl(

		var( --Q-color-base-hue ),
		10%,
		87%
	);
}
li .section-anchor a {

	top: 0;
}
.section-anchor a {
	
	top: -0.46rem;
	display: block;
	position: relative;
	min-width:  100%;
	min-height: 100%;
	color: white;
}
.section-anchor a:hover {

	background-color: inherit;
	color: white;
}









    /***************/
   /*             */
  /*   Content   */
 /*             */
/***************/


main {
	
	text-align: center;
}
main.home {

	padding: 6.35rem 2rem 12rem 1rem;
}
main.api {

	padding: 1.6rem 2rem 12rem 1rem;
}
main > p, main > ol, main > footer {

	margin-left:  1rem;
	margin-right: 1rem;
}
main > h3, main > h4, main > h5 {

	padding-left:  1rem;
	padding-right: 1rem;
}
main a {

	margin:  0  -2px;
	padding: 3px 2px;
}
main p.right {

	text-align: right;
}
main img.hero {

	margin-top: 0.5rem;
	margin-left: 0.5rem;
	border-radius: 0.5rem;
	max-width: calc( 100% - 1rem );
	height: auto;
	background-color: var( --Q-color-background );
}
main .full-bleed {

	margin: 0;
	background-color: transparent;
}






table {

	margin: 0;
	border-collapse: collapse;
/*	overflow: hidden;*/
}
td {

	transition: background-color 0.5s, color 0.5s;
}
td:hover {
	
	background-color: hsl( 
		
		var( --Q-color-blue-hue ), 
		10%, 
		93%
	);
	color: rgba( 0, 0, 0, 1 );
	transition: background-color 0s, color 0s;
}
td.no-highlight:hover {

	background-color: inherit;
}




.hash-target {

	animation-duration: 1s;
	animation-name: hash-target-blink;
	animation-iteration-count: 2;
}
@keyframes hash-target-blink {

	  0% { background-color: transparent; }
	 50% { background-color: var( --Q-selection-background-color ); }
	100% { background-color: transparent; }
}










main {

	padding-top: 8rem;
}




    /****************/
   /*              */
  /*   Keyboard   */
 /*              */
/****************/


.keyboard {
	
	--size: 8px;
	display: inline-block;
	margin: 0 auto;
	width: 54rem;
	border-radius: calc( var( --size ) * 1 );
	padding: 2rem 0;
	font-size: 0;
	transition-property: transform;
	transition-duration: 10s;
	transition-timing-function: ease-in-out;
	transform-style: preserve-3d;
}
.keyboard .shift,
.keyboard .option,
.keyboard .shift-option {

	display: none;
}
.keyboard .default {

	display: block;
}




.keyboard.shift .default,
.keyboard.shift .option,
.keyboard.shift .shift-option {

	display: none;
}
.keyboard.shift .shift {

	display: block;
}




.keyboard.option .default,
.keyboard.option .shift,
.keyboard.option .shift-option {

	display: none;
}
.keyboard.option .option {

	display: block;
}




.keyboard.shift.option .default,
.keyboard.shift.option .shift,
.keyboard.shift.option .option {

	display: none;
}
.keyboard.shift.option .shift-option {

	display: block;
}




.keyboard.caps-lock .shift,
.keyboard.caps-lock .option,
.keyboard.caps-lock .shift-option {

	display: none;
}
.keyboard.caps-lock .default {

	display: block;
}
.keyboard.caps-lock .letter .default {

	display: none;
}
.keyboard.caps-lock .letter .shift {

	display: block;
}











.row {}
.key {

	display: inline-block;
	position: relative;
	vertical-align: bottom;
	margin: calc( var( --size ) * 0.4 );
	width:  calc( var( --size ) * 6 );
	height: calc( var( --size ) * 6 );
	border-radius: calc( var( --size ) * 0.5 );
	background: white;
	padding: 0 calc( var( --size ) * 1 );
	text-align: center;
	font-size:   calc( var( --size ) * 2 );
	line-height: calc( var( --size ) * 5.8 );
	color: hsl( 0, 0%, 50% );
	overflow: hidden;
	box-shadow: 
		calc( var( --size ) * 0.2 ) 
		calc( var( --size ) * 0.2 )
		calc( var( --size ) * 0.3 )
		rgba( 0, 0, 0, 0.1 );
	cursor: pointer;

/*	transition-property: background;
	transition-duration: 0s;
	transition-delay: 4s;*/
}
/*.key:hover {

	background-color: hsl( 0, 0%, 95% );
}*/
.key.word {

	font-size:   calc( var( --size ) * 1 );
	line-height: calc( var( --size ) * 9 );
}
.key.left {

	text-align: left;
}
.key.right {

	text-align: right;
}








.key-delete,
.key-tab {

	width: calc( var( --size ) * 10 );
}
.key-caps-lock {

	width: calc( var( --size ) * 10.797 );
}
.key-return {

	width: calc( var( --size ) * 12 );
}
.key-shift-left,
.key-shift-right {

	width: calc( var( --size ) * 14.797 );
}
.key-space {

	width: calc( var( --size ) * 33.189 );
}
.key-command-left,
.key-command-right {

	width: calc( var( --size ) * 8 );	
}



.arrow-up-down-container {

	position: relative;
	display: inline-block;

}
.key-arrow-up, 
.key-arrow-down {

	display: block;
}
/*.key-arrow-down { display: none; }*/
.arrow {

	height:      calc( var( --size ) * 2.8 );
	font-size:   calc( var( --size ) * 1.5 );
	line-height: calc( var( --size ) * 2.9 );
}




.caps-lock-indicator {

	display: none;
	position: absolute;
	top:    calc( var( --size ) * 1 );
	left:   calc( var( --size ) * 1 );
	width:  calc( var( --size ) * 0.5 );
	height: calc( var( --size ) * 0.5 );
	border-radius: 100%;
	background-color: hsl( 120, 100%, 50% );
	overflow: hidden;
}
.keyboard.caps-lock .caps-lock-indicator {

	display: block;
}




/*.keyboard.shift .key-shift,*/
/*.keyboard.option .key-option,*/
.key.press,
.key:hover {

	position: relative;
	top:  calc( var( --size ) * 0.1 );
	left: calc( var( --size ) * 0.1 );
	/*transform: translate( 

		calc( var( --size ) * 0.2 ),
		calc( var( --size ) * 0.2 )
	);*/
	background: linear-gradient(

		0.45turn,
		
		hsl( 0, 0%, 55% ),
		hsl( 0, 0%, 65% )
	);
	color: white;
	box-shadow: none;

	transition: none;
}




.keyboard.option .key-tick,
.keyboard.option .key-E,
.keyboard.option .key-U,
.keyboard.option .key-I,
.keyboard.option .key-N {

	background: linear-gradient(

		0.45turn,
		
		hsl( 25, 100%, 50% ),
		hsl( 25, 100%, 55% )
	);
	color: white;
}
.option {

	background-color: 
}







#timeline {

	position: absolute;
	right:  0;
	bottom: 0;
	left:   0;
	height: 60px;
	background-color: rgba( 0, 0, 0, 0.03 );
}
#progress {

	position: relative;
	height: 100%;
	background-color: white;
}
#seeker {

	position: absolute;
	top:  0;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: hsl( 25, 100%, 50% );
}







