/*

	Copyright © 2020, Stewart Smith. See LICENSE for details.

*/




body {

	--bpm: 101;


	/*  Based on the “Eraser” album artwork colors  */
	
	--color-background:             hsl( 270, 100%, 50%);/*hsl(  0,  90%,  40% );*/
	--color-key-background:         hsl(  0,   0%,   0% );
	--color-key-text:               hsl(  0,  10%,  60% );
	--color-key-text-glow:          hsla( 0,  90%,  90%, 0.1 );
	--color-key-press-background:   hsl(  0,  90%,  95% );
	--color-key-press-text:         hsl(  0,  90%, 100% );
	--color-key-press-glow:         hsla( 0,   0%,  90%, 0.5 );
	--color-key-options-background: hsl(  0,  90%,  50% );
	--color-key-options-text:       hsl(  0,  90%, 100% );








}


/*.key {

	--background-hue:        0;
	--background-saturation: 0%;
	--background-lightness:  0%;

	--text-hue:         0;
	--text-saturation: 10%;
	--text-lightness:  60%;
}
.key.press,
.key:hover {

	--background-hue:         0;
	--background-saturation: 90%;
	--background-lightness:  95%;
	
	--text-hue:          0;
	--text-saturation:  90%;
	--text-lightness:  100%;
}*/




/*  test  */

.key {

	--background-hue:        180;
	--background-saturation: 100%;
	--background-lightness:   50%;

	animation-name: purplepass;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	/*animation-direction: reverse;*/
	animation-timing-function: linear;

	/*background-color: hsl( 180, 100%, 50% );*/
	transition: none;
	/*animation-play-state: paused;*/
		animation-play-state: running;
}
.key.press,
.key:hover {

	animation-direction: reverse;
	animation-duration: 4s;
	/*--background-hue: 359;*/
/*animation-iteration-count: 1;*/
	/*animation-duration: 4s;*/
	/*animation-direction: normal;*/
	/*background-color: hsl( 360, 100%, 50% );*/
	transition: none;

	animation-play-state: running;
}


@keyframes purplepass {

	  0% { background-color: hsl( 180, 100%, 50% ); }
	  1% { background-color: hsl( 182, 100%, 50% ); }
	  2% { background-color: hsl( 184, 100%, 50% ); }
	  3% { background-color: hsl( 185, 100%, 50% ); }
	  4% { background-color: hsl( 187, 100%, 50% ); }
	  5% { background-color: hsl( 189, 100%, 50% ); }
	  6% { background-color: hsl( 191, 100%, 50% ); }
	  7% { background-color: hsl( 193, 100%, 50% ); }
	  8% { background-color: hsl( 194, 100%, 50% ); }
	  9% { background-color: hsl( 196, 100%, 50% ); }
	 10% { background-color: hsl( 198, 100%, 50% ); }
	 11% { background-color: hsl( 200, 100%, 50% ); }
	 12% { background-color: hsl( 202, 100%, 50% ); }
	 13% { background-color: hsl( 203, 100%, 50% ); }
	 14% { background-color: hsl( 205, 100%, 50% ); }
	 15% { background-color: hsl( 207, 100%, 50% ); }
	 16% { background-color: hsl( 209, 100%, 50% ); }
	 17% { background-color: hsl( 211, 100%, 50% ); }
	 18% { background-color: hsl( 212, 100%, 50% ); }
	 19% { background-color: hsl( 214, 100%, 50% ); }
	 20% { background-color: hsl( 216, 100%, 50% ); }
	 21% { background-color: hsl( 218, 100%, 50% ); }
	 22% { background-color: hsl( 220, 100%, 50% ); }
	 23% { background-color: hsl( 221, 100%, 50% ); }
	 24% { background-color: hsl( 223, 100%, 50% ); }
	 25% { background-color: hsl( 225, 100%, 50% ); }
	 26% { background-color: hsl( 227, 100%, 50% ); }
	 27% { background-color: hsl( 229, 100%, 50% ); }
	 28% { background-color: hsl( 230, 100%, 50% ); }
	 29% { background-color: hsl( 232, 100%, 50% ); }
	 30% { background-color: hsl( 234, 100%, 50% ); }
	 31% { background-color: hsl( 236, 100%, 50% ); }
	 32% { background-color: hsl( 238, 100%, 50% ); }
	 33% { background-color: hsl( 239, 100%, 50% ); }
	 34% { background-color: hsl( 241, 100%, 50% ); }
	 35% { background-color: hsl( 243, 100%, 50% ); }
	 36% { background-color: hsl( 245, 100%, 50% ); }
	 37% { background-color: hsl( 247, 100%, 50% ); }
	 38% { background-color: hsl( 248, 100%, 50% ); }
	 39% { background-color: hsl( 250, 100%, 50% ); }
	 40% { background-color: hsl( 252, 100%, 50% ); }
	 41% { background-color: hsl( 254, 100%, 50% ); }
	 42% { background-color: hsl( 256, 100%, 50% ); }
	 43% { background-color: hsl( 257, 100%, 50% ); }
	 44% { background-color: hsl( 259, 100%, 50% ); }
	 45% { background-color: hsl( 261, 100%, 50% ); }
	 46% { background-color: hsl( 263, 100%, 50% ); }
	 47% { background-color: hsl( 265, 100%, 50% ); }
	 48% { background-color: hsl( 266, 100%, 50% ); }
	 49% { background-color: hsl( 268, 100%, 50% ); }
	 50% { background-color: hsl( 270, 100%, 50% ); }
	 51% { background-color: hsl( 272, 100%, 50% ); }
	 52% { background-color: hsl( 274, 100%, 50% ); }
	 53% { background-color: hsl( 275, 100%, 50% ); }
	 54% { background-color: hsl( 277, 100%, 50% ); }
	 55% { background-color: hsl( 279, 100%, 50% ); }
	 56% { background-color: hsl( 281, 100%, 50% ); }
	 57% { background-color: hsl( 283, 100%, 50% ); }
	 58% { background-color: hsl( 284, 100%, 50% ); }
	 59% { background-color: hsl( 286, 100%, 50% ); }
	 60% { background-color: hsl( 288, 100%, 50% ); }
	 61% { background-color: hsl( 290, 100%, 50% ); }
	 62% { background-color: hsl( 292, 100%, 50% ); }
	 63% { background-color: hsl( 293, 100%, 50% ); }
	 64% { background-color: hsl( 295, 100%, 50% ); }
	 65% { background-color: hsl( 297, 100%, 50% ); }
	 66% { background-color: hsl( 299, 100%, 50% ); }
	 67% { background-color: hsl( 301, 100%, 50% ); }
	 68% { background-color: hsl( 302, 100%, 50% ); }
	 69% { background-color: hsl( 304, 100%, 50% ); }
	 70% { background-color: hsl( 306, 100%, 50% ); }
	 71% { background-color: hsl( 308, 100%, 50% ); }
	 72% { background-color: hsl( 310, 100%, 50% ); }
	 73% { background-color: hsl( 311, 100%, 50% ); }
	 74% { background-color: hsl( 313, 100%, 50% ); }
	 75% { background-color: hsl( 315, 100%, 50% ); }
	 76% { background-color: hsl( 317, 100%, 50% ); }
	 77% { background-color: hsl( 319, 100%, 50% ); }
	 78% { background-color: hsl( 320, 100%, 50% ); }
	 79% { background-color: hsl( 322, 100%, 50% ); }
	 80% { background-color: hsl( 324, 100%, 50% ); }
	 81% { background-color: hsl( 326, 100%, 50% ); }
	 82% { background-color: hsl( 328, 100%, 50% ); }
	 83% { background-color: hsl( 329, 100%, 50% ); }
	 84% { background-color: hsl( 331, 100%, 50% ); }
	 85% { background-color: hsl( 333, 100%, 50% ); }
	 86% { background-color: hsl( 335, 100%, 50% ); }
	 87% { background-color: hsl( 337, 100%, 50% ); }
	 88% { background-color: hsl( 338, 100%, 50% ); }
	 89% { background-color: hsl( 340, 100%, 50% ); }
	 90% { background-color: hsl( 342, 100%, 50% ); }
	 91% { background-color: hsl( 344, 100%, 50% ); }
	 92% { background-color: hsl( 346, 100%, 50% ); }
	 93% { background-color: hsl( 347, 100%, 50% ); }
	 94% { background-color: hsl( 349, 100%, 50% ); }
	 95% { background-color: hsl( 351, 100%, 50% ); }
	 96% { background-color: hsl( 353, 100%, 50% ); }
	 97% { background-color: hsl( 355, 100%, 50% ); }
	 98% { background-color: hsl( 356, 100%, 50% ); }
	 99% { background-color: hsl( 358, 100%, 50% ); }
	100% { background-color: hsl( 360, 100%, 50% ); }
}
/*


for( let i = 0; i <= 100; i ++ ){

    console.log( i.toString().padStart( 3, ' ' ) +'% { background-color: hsl( '+ Math.round( 180 + i * 1.80 ) +', 100%, 50% ); }' )
}

 


*/









    /****************/
   /*              */
  /*   Controls   */
 /*              */
/****************/


#timeline {

	background-color: hsl( 0, 90%, 35% );
}
#progress,
#controls .button {

	background-color: hsl( 0, 90%, 30% );
	color: hsl( 0, 70%, 50% );
}
#controls .button use {

	fill: hsl( 0, 70%, 50% );
}
#controls .button:hover {

	background-color: hsl( 0, 90%, 25% );
	color: hsl( 0, 70%, 70% );
}
#controls .button:hover use {

	fill: hsl( 0, 70%, 70% );
}


#progress-head {

	background-color: hsl( 0, 70%, 70% );
}
#progress-clock {

	color: hsl( 0, 70%, 70% );
}
#seeker-head {

	background-color: white;
}
#seeker-clock {

	color: white;
}


#button-play {

	color: black;
}
#controls #button-play use {

	fill: black;
}
#button-play:hover {

	color: var( --color-background );
}
@keyframes pulse {

	 0%,  10% { background-color: hsl( 0, 90%, 100% ); }
	90%, 100% { background-color: hsl( 0, 90%,  30% ); }
}











    /***************/
   /*             */
  /*   Customs   */
 /*             */
/***************/


.keyboard {

	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}




.key.dead,
.key.dead.press,
.key.dead:hover {

	color: transparent;
	text-shadow: none;
}




.key-period.press,
.key-period:hover {

	background-color: hsl( 0, 100%, 100% );
	box-shadow: 
		0
		0
		calc( var( --size ) * 6 )
		hsl( 0, 100%, 100% );
}




.keyboard.push-out .key {

	transition: 
		background-color var( --beat-half ) linear,
		text-shadow var( --beat-half ) linear,
		transform var( --beat ) ease-out;
}
.keyboard.push-out .key.press,
.keyboard.push-out .key:hover {
	
	transform: translateZ( 60px ) !important;
	transition: none;
}




.keyboard.long-sustain .key {

	transition: 
		background-color var( --beat ) ease-in,
		transform var( --beat-eighth ) ease-out;
}
.keyboard.long-sustain .key.press,
.keyboard.long-sustain .key:hover {

	transition: none;
}




.key.black {

	background: none;
	background-color: black;
	/*color: transparent;*/
}
.key.invisible {

	color: transparent;
	transition: none;
}




.keyboard.surf-rider {

	transform: 
		translate3d( 0, 0, 100px )
		rotate3d( 0, 0, -1, 80deg ) 
		rotate3d( 0, 1,  0, 60deg );
}




.keyboard.crazy .key {

/*	box-shadow: 
		0
		0
		calc( var( --size ) * 2 )
		hsla( 25, 0%, 0%, 0.5 );*/
	transition: none;
	transform: 
		translate3d( 
		
			var( --tx ),
			var( --ty ),
			var( --tz )
		)
		rotate3d( 

			var( --rx ),
			var( --ry ),
			var( --rz ),
			180deg
		) !important;
}
.keyboard.crazy .key.press
.keyboard.crazy .key:hover {


}








